
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MarSymp</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

 
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->
    <!--web font-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//web font-->

</head>

<body>


    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="~/Home/Index">
                    <span><img src="~/Content/images/logo.png" /></span>
                </a>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item active  mr-lg-3">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3">
                            <a class="nav-link" href="~/Home/Instruments">Instruments</a>
                        </li>
                        <li class="nav-item  mr-lg-3">
                            <a class="nav-link" href="~/Home/Services">Services</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="blog.html">Blog Page</a>
                                <a class="dropdown-item" href="single.html">Single page</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="about.html">Stats</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">contact</a>
                        </li>
                    </ul>
                    <div class="buttons">
                        <p><i class="fas fa-sign-in-alt"></i><a href="/Account/Login"> Get Started </a></p>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="banner" id="home">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-info bg1 w3-agile-grid">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container agile-info">
                                <h5 class="tag text-center mb-3 text-uppercase">Marketing Symphonizer </h5>
                                <h1 class="movetxt text-center agile-title text-uppercase">Maximize the </h1>
                                <h2 class="movetxt text-center mb-3 agile-title text-uppercase">Growth of your business </h2>
                                <h2 class="movetxt text-center mb-3 agile-title text-uppercase">With MarSymp </h2>
                                <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">
                                    read more
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg2 w3-agile-grid">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container agile-info">
                                <h5 class="tag text-center mb-3 text-uppercase">Marketing Symphonizer</h5>
                                <h4 class="movetxt text-center agile-title text-uppercase">Use the  </h4>
                                <h4 class="movetxt text-center mb-3 agile-title text-uppercase">digital marketing channels</h4>
                                <h4 class="movetxt text-center mb-3 agile-title text-uppercase">in a harmony </h4>
                                <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">
                                    read more
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg3 w3-agile-grid">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container agile-info">
                                <h5 class="tag text-center mb-3 text-uppercase">Marketing Symphonizer</h5>
                                <h4 class="movetxt text-center agile-title text-uppercase">Not all   </h4>
                                <h4 class="movetxt text-center mb-3 agile-title text-uppercase">online marketing activities</h4>
                                <h4 class="movetxt text-center mb-3 agile-title text-uppercase">might profit your business</h4>
                                <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">
                                    read more
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg4 w3-agile-grid">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container agile-info">
                                <h5 class="tag text-center mb-3 text-uppercase">Marketing Symphonizer</h5>
                                <h4 class="movetxt text-center agile-title text-uppercase">What activities  </h4>
                                <h4 class="movetxt text-center mb-3 agile-title text-uppercase">you can invest </h4>
                                <h4 class="movetxt text-center mb-3 agile-title text-uppercase">in to gain maximum results </h4>
                                <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">
                                    read more
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-5">
        <div class="container py-md-3">
            <h3 class="heading mb-md-5 mb-4">What's Marketing Symphonizer ?</h3>
            <div class="row about-grids agile-info">
                <div class="col-lg-6 mb-lg-0 w3-agile-grid mb-5">

                    <p> Finding the right digital marketing channels for your particular business is an important task. </p>
                    <p class="mt-2 mb-3">
                        Marketing Symphonizer is a SaaS product created to help it's users to make sure spend their time and money on the most impactful digital marketing channels.
                    </p>
                    <p class="mt-2 mb-3">
                        MarSymp's suggestion algorithm created by the experienced digital marketing professionals. No matter if you are a start-up or a leader in your sector, MarSymp designed to guide you focusing on the right channels to maximize the growth of your business.
                    </p>
                    <a href="about.html">Read More </a>
                </div>
                <div class="col-lg-3 col-md-4 w3-agile-grid pr-md-0">
                    <h3 class="margin">15+ years experience</h3>
                    <h3 class="black">Valuable Services</h3>
                </div>
                <div class="col-lg-3 col-md-4 w3-agile-grid mt-md-0 mt-4">
                    <h3 class="margin green">Experienced Professionals</h3>
                    <h3 class="grey">Management Solutions</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- how we work -->
    <section class="work">
        <div class="work-layer py-5">
            <div class="container py-md-3">
                <h3 class="heading mb-lg-5 mb-4">How We Work</h3>
                <div class="row join agile-info">
                    <div class="col-md-3 col-sm-6 steps-reach w3-agile-grid">
                        <span class="fab fa-algolia"></span>
                        <h4>Step 1</h4>
                        <p>Create an account and submit our company analysis survey.</p>
                        <div class="style-border">
                            <img src="images/sty1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-sm-0 mt-5 steps-reach w3-agile-grid">
                        <span class="fab fa-asymmetrik"></span>
                        <h4>Step 2</h4>
                        <p>MarSymp algorithm will provide you a monthly roadmap !</p>
                        <div class="style-border second-border">
                            <img src="images/sty2.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-md-0 mt-5 pt-md-0 pt-sm-5 steps-reach w3-agile-grid">
                        <span class="fas fa-bug" aria-hidden="true"></span>
                        <h4>Step 3</h4>
                        <p>For the execution of the suggested marketing activities read our tactical pages and/or reach us for consultancy</p>
                        <div class="style-border">
                            <img src="images/sty1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-md-0 mt-5 pt-md-0 pt-sm-5 steps-reach w3-agile-grid">
                        <span class="fas fa-check-square" aria-hidden="true"></span>
                        <h4>Step 4</h4>
                        <p>After the first month of digital marketing activities submit your results and start to use analytic dashboard </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //how we work -->
    <!-- management services -->

    <section class="services py-5">
        <div class="container agile-info py-md-3">
            <h3 class="heading mb-lg-5 mb-4">Instruments of Digital Marketing</h3>
            <div class="row service_grids">
                <div class="col-lg-4 w3-agile-grid">
                    <div class="grid">
                        <h4 class="mb-3">Content Marketing </h4>
                        <p>
                            Content marketing helps companies create sustainable brand loyalty, provides valuable information to consumers, and creates a willingness to purchase products from the company in the future.
                        </p>
                        <a href="~/Home/Instruments">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
                    </div>
                    <div class="grid mt-4">
                        <h4 class="mb-3">Search Engine Optimization</h4>
                        <p>
                            Search engine optimization (SEO) is often about making small modifications to parts of your website. When viewed individually, these changes might seem like incremental improvements, but when combined with other optimizations, they could have a noticeable impact on your site's user experience and performance in organic search results.
                        </p>
                        <a href="~/Home/Instruments">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
                    </div>
                    <div class="grid mt-4">
                        <h4 class="mb-3">Email Marketing</h4>
                        <p>
                            Email marketing is a very popular subcategory of digital marketing and plays a crucial role when building a community and nurture leads.
                        </p>
                        <a href="~/Home/Instruments">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-lg-0 my-5">
                    <img src="~/Content/images/online-marketing.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-lg-4 w3-agile-grid">
                    <div class="grid">
                        <h4 class="mb-3">Social Media Marketing</h4>
                        <p>
                            Social media marketing is the use of social media platforms to connect with your audience to build your brand, increase sales, and drive website traffic. This involves publishing great content on your social media profiles, listening to and engaging your followers, analyzing your results, and running social media advertisements.
                        </p>
                        <a href="~/Home/Instruments">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
                    </div>
                    <div class="grid mt-4">
                        <h4 class="mb-3">Display Advertising</h4>
                        <p>
                            Display advertising is a type of online advertising that comes in several forms, including banner ads, rich media and more. Unlike text-based ads, display advertising relies on elements such as images, audio and video to communicate an advertising message.
                        </p>
                        <a href="~/Home/Instruments">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
                    </div>
                    <div class="grid mt-4">
                        <h4 class="mb-3">Pay-Per-Click Advertising</h4>
                        <p>
                            Pay Per Click (or PPC advertising) is a form of paid digital marketing where advertisers pay a fee each time their ad is clicked. The term PPC can apply to paid ads on social media networks, like Facebook, Twitter and LinkedIn.
                        </p>
                        <a href="~/Home/Instruments">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //management services -->
    <!-- servicesbottom -->
    <section class="service-bottom">
        <div class="container-fluid">
            <div class="row">
                <!-- Counter -->
                <div class="col-lg-6 p-0 services-bottom">
                    <div class="layer agile-info">
                        <h3 class="heading mb-lg-5 mb-4">Company Stats</h3>
                        <div class="row">
                            <div class="col-sm-6 col-6 agileits_w3layouts_about_counter_left w3-agile-grid">
                                <div class="countericon">
                                    <span class="fab fa-algolia" aria-hidden="true"></span>
                                </div>
                                <div class="counterinfo agile-info">
                                    <p class="counter">436</p>
                                    <h3>Business Growth</h3>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="col-sm-6 col-6 agileits_w3layouts_about_counter_left w3-agile-grid">
                                <div class="countericon">
                                    <span class="fab fa-asymmetrik" aria-hidden="true"></span>
                                </div>
                                <div class="counterinfo agile-info">
                                    <p class="counter">147</p>
                                    <h3>Win Awards</h3>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="col-sm-6 col-6 mt-5 agileits_w3layouts_about_counter_left w3-agile-grid">
                                <div class="countericon">
                                    <span class="fas fa-bug" aria-hidden="true"></span>
                                </div>
                                <div class="counterinfo agile-info">
                                    <p class="counter">18</p>
                                    <h3>Years Experience</h3>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="col-sm-6 col-6 mt-5 agileits_w3layouts_about_counter_left w3-agile-grid">
                                <div class="countericon">
                                    <span class="fas fa-check-square" aria-hidden="true"></span>
                                </div>
                                <div class="counterinfo agile-info">
                                    <p class="counter">150</p>
                                    <h3>Management</h3>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Counter -->
                <!-- Clients -->
                <div class=" col-lg-6 clients">
                    <h3 class="heading mb-lg-5 mb-4">Clients Words</h3>
                    <section class="slider w3-agile-grid">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                                    <div class="client">
                                        <img src="images/c1.jpg" alt="" />
                                        <h5>Brian Fantana</h5>
                                        <div class="clearfix"> </div>
                                    </div>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                                    <div class="client">
                                        <img src="images/c1.jpg" alt="" />
                                        <h5>Brick Tamland</h5>
                                        <div class="clearfix"> </div>
                                    </div>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                                    <div class="client">
                                        <img src="images/c1.jpg" alt="" />
                                        <h5>Ron Burgundy</h5>
                                        <div class="clearfix"> </div>
                                    </div>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                                    <div class="client">
                                        <img src="images/c1.jpg" alt="" />
                                        <h5>Arturo Mendez</h5>
                                        <div class="clearfix"> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="clearfix"> </div>
                <!-- //Clients -->
            </div>
        </div>
    </section>
    <!-- //servicesbottom -->
    <!-- quotes -->
    <section class="quotes py-5 text-center">
        <div class="container py-md-3">
            <div class="quotes-info agile-info-quotes">
                <h3 class="mb-3">Get started work with us</h3>
                <p>
                    MarSymp's core objective is to find channels which result in maximum two-way communication and a better overall ROI for your brand !
                </p>
                <a class="bt mt-4 mr-2 text-capitalize" href="~/Home/Services"> Read more</a>
                <a class="bt mt-4 text-capitalize start" href="/Account/Login"> Get Started</a>
            </div>
        </div>
    </section>
    <!-- //quotes -->
    <!-- footer -->
    <footer>
        <div class="container-fluid p-5">
            <div class="row footer-gap">
                <div class="col-lg-5 mb-lg-0 mb-4">
                    <h3 class="text-capitalize mb-3">About MarSymp</h3>
                    <p>
                        MarSymp's suggestion algorithm created by the experienced digital marketing professionals. No matter if you are a start-up or a leader in your sector, MarSymp designed to guide you focusing on the right channels to maximize the growth of your business.
                    </p>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h3 class="text-capitalize mb-3">Connect With Us</h3>
                            <p><span class="fab fa-twitter"></span> twitter/MarSymp</p>
                            <p><span class="fab fa-instagram"></span> instagram/MarSymp</p>
                            <p><span class="fab fa-youtube mb-4"></span> youtube/MarSymp</p>
                            <a href="#" class="facebook mr-2"><span class="fab mr-1 fa-facebook-f"></span> Facebook</a>
                            <a href="#" class="twitter"><span class="fab mr-1 fa-twitter"></span> Twitter</a>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-5">
                            <h3 class="text-capitalize mb-3">Head Quarters</h3>
                            <address class="mb-0">
                                <p class="mb-2"><i class="fas fa-map-marker"></i> 2466H 5th Street Parking, King <br>Block, New York City.</p>
                                <p><i class="fas mr-1 fa-clock"></i> Timings : 10 a.m to 6 p.m</p>
                                <p><i class="fas mr-1 fa-phone"></i> +12 445 8976 2334</p>
                                <p><i class="fas mr-1 fa-fax"></i> +11 887 8976 2334 </p>
                                <p><i class="fas mr-1 fa-envelope-open"></i> <a href="mailto:info@example.com">info@example.com</a></p>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-sm-0 p-md-0">
                    <h3 class="text-capitalize mb-3">Services</h3>
                    <ul>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Marketing Channel Analysis</li>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Digital Strategy</li>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Budget Management</li>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Analytical Dashboard</li>
                    </ul>
                    <h3 class="text-capitalize mt-4 mb-3">Newsletter</h3>
                    <p class="mb-3">Subscribe to Our Newsletter to get News, Amazing Offers &amp; More</p>
                    <form action="#" method="post">
                        <input type="email" name="Newsletter" placeholder="Enter your email..." required="">
                        <button class="btn1" onclick="myFunction()"><i class="far fa-paper-plane"></i></button>
                        <div class="clearfix"> </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-md-0 mt-4 p-md-0">
                    <h3 class="text-capitalize mb-3">Latest Posts</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
                            <a href="single.html">
                                <img src="~/Content/images/f1.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-9 col-8 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 12 June, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
                            <a href="single.html">
                                <img src="~/Content/images/f2.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-9 col-8 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 12 June, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids row">
                        <div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
                            <a href="single.html">
                                <img src="~/Content/images/f3.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-9 col-8 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 13 June, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright pb-sm-5 pb-4 text-center">
            <p>© 2018 Grade. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
        </div>
    </footer>
    <!-- footer -->
    <!-- Vertically centered Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase text-center" id="exampleModalLongTitle"><span class="fab fa-asymmetrik"></span> Grade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/images/banner1.jpg" class="img-fluid mb-3" alt="Modal Image" />
                    Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">More Details</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Vertically centered Modal -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/counterup.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1000
            });
        });
    </script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    <!-- Banner Responsiveslides -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Banner Responsiveslides -->
    <!-- start-smoth-scrolling -->
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->
    <!-- FlexSlider-JavaScript -->
    <script defer src="~/Content/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //FlexSlider-JavaScript -->
    <script>
        function myFunction() {
            alert("Thank you for subscribing to our Newsletter");
        }
    </script>

</body>
</html>