
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MarSymp</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Grade Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!--web font-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//web font-->

</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="~/Home/Index">
                    <span><img src="~/Content/images/logo.png" /></span>
                </a>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item   mr-lg-3">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                               
                            </a>
                        </li>
                        <li class="nav-item active mr-lg-3">
                            <a class="nav-link" href="~/Home/Instruments">Instruments</a>
                            <span class="sr-only">(current)</span>
                        </li>
                        <li class="nav-item  mr-lg-3">
                            <a class="nav-link" href="~/Home/Services">Services</a>
                     
                        </li>
                        <li class="nav-item dropdown mr-lg-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="blog.html">Blog Page</a>
                                <a class="dropdown-item" href="single.html">Single page</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="about.html">Stats</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">contact</a>
                        </li>
                    </ul>
                    <div class="buttons">
                        <p><i class="fas fa-sign-in-alt"></i><a href="/Account/Login"> Get Started </a></p>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="inner-banner">
        <div class="banner-layer">
            <h1 class="text-center"></h1>
        </div>
    </section>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-5">
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4">Instruments</h2>
            <div class="row about-grids agile-info">
                <div class="col-lg-6 w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Always keep on mind that not all online marketing activities might profit your business. If you want to start digital marketing for your business, it’s essential that you know the different channels that are available and how each will benefit the business.
                    </p>
                    <p class="mt-2 mb-3">
                        Main vision of the MarSymp algorithm is to identify the right digital marketing channels (instruments) for your particular business and symphonize them to create the best harmony.
                    </p>
                    <a href="about.html">Read More </a>
                </div>
                <div class="col-lg-3 w3-agile-grid col-md-4 pr-md-0">
                    <h3 class="margin">15+ years experience</h3>
                    <h3 class="black">Valuable Services</h3>
                </div>
                <div class="col-lg-3 w3-agile-grid col-md-4 mt-md-0 mt-4">
                    <h3 class="margin green">Experienced Professionals</h3>
                    <h3 class="grey">Management Solutions</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- team -->
    <section class="team py-5">
        <div class="container py-md-3">
            <h3 class="heading mb-lg-5 mb-4">Which ones should you pick ?</h3>
            <div class="row team-grids">
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/trumpet.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Pay-Per-Click  <br />  Advertising</h4>
                            <span>Trumpet</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/snare_drum.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Search Engine    <br /> Optimization</h4>
                            <span>Drum</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-0 mb-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/piano.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Email marketing</h4>
                            <span>Piano</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/harp.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Social Media Marketing</h4>
                            <span>Harp</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/electric_guitar.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Content Marketing</h4>
                            <span>Guitar</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/conga.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Display Advertising</h4>
                            <span>Congas</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/clarinet.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Blogging</h4>
                            <span>Clarinet</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
                    <div class="team-members">
                        <div class="team-avatar">
                            <img src="~/Content/images/cello.png" class="" alt="image">
                        </div>
                        <div class="team-desc agile-info">
                            <h4>Affiliate Marketing</h4>
                            <span>Cello</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team -->
    <!-- about -->
    <section class="about py-5">
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4">Pay-Per-Click Advertising</h2>
            <div class="row about-grids agile-info">
                <div class="col-lg-8 ">
                    <p>
                        Pay-per-click (PPC), also known as cost per click (CPC), is an internet advertising model used to drive traffic to websites, in which an advertiser pays a publisher (typically a search engine, website owner, or a network of websites) when the ad is clicked.
                    </p>
                    <p class="mt-2 mb-3">
                        Pay-per-click is commonly associated with first-tier search engines (such as Google Ads and Bing Ads). With search engines, advertisers typically bid on keyword phrases relevant to their target market. In contrast, content sites commonly charge a fixed price per click rather than use a bidding system. PPC "display" advertisements, also known as "banner" ads, are shown on web sites with related content that have agreed to show ads and are typically not pay-per-click advertising. Social networks such as Facebook, Linkedin, Pinterest and Twitter have also adopted pay-per-click as one of their advertising models.
                    </p>
                    <p>
                        However, websites can offer PPC ads. Websites that utilize PPC ads will display an advertisement when a keyword query matches an advertiser's keyword list that has been added in different ad groups, or when a content site displays relevant content. Such advertisements are called sponsored links or sponsored ads, and appear adjacent to, above, or beneath organic results on search engine results pages, or anywhere a web developer chooses on a content site.
                    </p>


                </div>
                <div class="col-lg-3  team-avatar">
                    <img src="~/Content/images/trumpet.png" class="" alt="image">
                </div>

            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4" style="text-align:right;">
                Search Engine Optimization
            </h2>
            <div class="row about-grids agile-info">

                <div class="col-lg-3 offset-sm-1   team-avatar">
                    <img src="~/Content/images/snare_drum.png" class="" alt="image">
                </div>
                <div class="col-lg-8  w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Search engine optimization (SEO) is the process of increasing the quality and quantity of website traffic by increasing the visibility of a website or a web page to users of a web search engine.
                    </p>
                    <p class="mt-2 mb-3">
                        SEO refers to the improvement of unpaid results (known as "natural" or "organic" results) and excludes direct traffic/visitors and the purchase of paid placement. SEO may target different kinds of searches, including image search, video search, academic search, news search, and industry-specific vertical search engines.
                    </p>
                    <p>
                        Optimizing a website may involve editing its content, adding content, and modifying HTML and associated coding to both increase its relevance to specific keywords and remove barriers to the indexing activities of search engines like Google ,Yahoo etc. Promoting a site to increase the number of backlinks, or inbound links, is another SEO tactic. By May 2015, mobile search had surpassed desktop search.
                    </p><br />
                    <p>
                        As an Internet marketing strategy, SEO considers how search engines work, the computer-programmed algorithms that dictate search engine behavior, what people search for, the actual search terms or keywords typed into search engines, and which search engines are preferred by their targeted audience. SEO is performed because a website will receive more visitors from a search engine the higher the website ranks in the search engine results page (SERP). These visitors can then be converted into customers.
                    </p>
                </div>
            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4">Email marketing</h2>
            <div class="row about-grids agile-info">
                <div class="col-lg-8 w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Email marketing is the act of sending a commercial message, typically to a group of people, using email.
                        In its broadest sense, every email sent to a potential or current customer could be considered email marketing.

                    </p>
                    <p>
                        It usually involves using email to send advertisements, request business, or solicit sales or donations, and is meant to build loyalty, trust, or brand awareness.
                    </p>
                    <p class="mt-2 mb-3">
                        Marketing emails can be sent to a purchased lead list or a current customer database. The term usually refers to sending email messages with the purpose of enhancing a merchant's relationship with current or previous customers, encouraging customer loyalty and repeat business, acquiring new customers or convincing current customers to purchase something immediately, and sharing third-party ads.
                    </p>


                </div>
                <div class="col-lg-3 team-avatar">
                    <img src="~/Content/images/piano.png" class="" alt="image">
                </div>

            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4" style="text-align:right;">Social Media Marketing</h2>
            <div class="row about-grids agile-info">

                <div class="col-lg-3 offset-sm-1 team-avatar">
                    <img src="~/Content/images/harp.png" class="" alt="image">
                </div>
                <div class="col-lg-8 w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Social media marketing is the use of social media platforms and websites to promote a product or service. Although the terms e-marketing and digital marketing are still dominant in academia, social media marketing is becoming more popular for both practitioners and researchers. Most social media platforms have built-in data analytics tools, which enable companies to track the progress, success, and engagement of ad campaigns.
                    </p>
                    <p class="mt-2 mb-3">
                        Companies address a range of stakeholders through social media marketing, including current and potential customers, current and potential employees, journalists, bloggers, and the general public. On a strategic level, social media marketing includes the management of a marketing campaign, governance, setting the scope (e.g. more active or passive use) and the establishment of a firm's desired social media "culture" and "tone."
                    </p>
                    <p>
                        When using social media marketing, firms can allow customers and Internet users to post user-generated content (e.g., online comments, product reviews, etc.), also known as "earned media," rather than use marketer-prepared advertising copy.
                    </p>

                </div>
            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4">Content Marketing</h2>
            <div class="row about-grids agile-info">
                <div class="col-lg-8 w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Content marketing is a form of marketing focused on creating, publishing, and distributing content for a targeted audience online. It is often used by businesses in order to:
               
                         - Attract attention and generate leads
                         - Expand their customer base
                         - Generate or increase online sales
                         - Increase brand awareness or credibility
                         - Engage an online community of users




                    </p>
                    <p class="mt-2 mb-3">
                        Content marketing attracts prospects and transforms prospects into customers by creating and sharing valuable free content. Content marketing helps companies create sustainable brand loyalty, provides valuable information to consumers, and creates a willingness to purchase products from the company in the future. This relatively new form of marketing does not involve direct sales. Instead, it builds trust and rapport with the audience.
                    </p>
                    <p>
                        Content marketing requires continuous delivery of large amounts of content, preferably within a content marketing strategy.
                    </p>

                </div>
                <div class="col-lg-3 team-avatar">
                    <img src="~/Content/images/electric_guitar.png" class="" alt="image">
                </div>

            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4" style="text-align:right;">Display Advertising</h2>
            <div class="row about-grids agile-info">

                <div class="col-lg-3 offset-sm-1 team-avatar">
                    <img src="~/Content/images/conga.png" class="" alt="image">
                </div>
                <div class="col-lg-8 w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Display advertising is advertising on websites or apps or social media through banners or other ad formats made of text, images, flash, video, and audio. The main purpose of display advertising is to deliver general advertisements and brand messages to site visitors.
                    </p>
                    <p class="mt-2 mb-3">
                        According to eMarketer, Facebook and Twitter will take 33 percent of display ad spending market share by 2017. Google's display campaigns reach 80percent of global internet users. Also, desktop display advertising eclipsed search ad buying in 2014, with mobile ad spending overtaking display in 2015.
                    </p>
                    <p>
                        The main purpose of display advertising is to support brand awareness and it also helps to increase the purchase intention of consumers.
                    </p>

                </div>
            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4">Blogging</h2>
            <div class="row about-grids agile-info">
                <div class="col-lg-8 w3-agile-grid mb-lg-0 mb-5">
                    <p>

                        Blogging has come a long way. It was social media before social media. Originally, people used blogs as a platform to share their thoughts, feelings, opinions, and experiences with others; but with a minimal following.
                    </p>
                    <p class="mt-2 mb-3">
                        Business blogging is a marketing tactic that uses blogging to get your business more online visibility and reaching your home business target market through the use of a blog. A business blog is a marketing channel (just like social media, direct mail, email marketing, etc.) that helps support business growth.
                    </p>
                    <p>
                        The very nature of blogging makes them ideal for marketing since they provide new content to draw people back, and offer a way for consumers and businesses to interact.
                    </p>

                </div>
                <div class="col-lg-3 team-avatar">
                    <img src="~/Content/images/clarinet.png" class="" alt="image">
                </div>

            </div>
        </div>
        <div class="container py-md-3 agile-info">
            <h2 class="heading mb-md-5 mb-4" style="text-align:right;">Affiliate Marketing</h2>
            <div class="row about-grids agile-info">

                <div class="col-lg-3 offset-sm-1 team-avatar">
                    <img src="~/Content/images/cello.png" class="" alt="image">
                </div>
                <div class="col-lg-8 w3-agile-grid mb-lg-0 mb-5">
                    <p>
                        Affiliate marketing is a type of performance-based marketing in which a business rewards one or more affiliates for each visitor or customer brought by the affiliate's own marketing efforts.
                    </p>
                    <p class="mt-2 mb-3">
                        At its heart is a simple principle: that whatever you want your visitors to do on site – whether that be to make a purchase, call a phone number, submit their details in an application form or sign up to an email – you only pay when this specific action has occurred.
                    </p>
                    <p>
                        The goal of using an affiliate marketer is to increase sales—a win-win solution for the merchant and the affiliate.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- footer -->
    <footer>
        <div class="container-fluid p-5">
            <div class="row footer-gap">
                <div class="col-lg-5 mb-lg-0 mb-4">
                    <h3 class="text-capitalize mb-3">About Company</h3>
                    <p>
                        Cras blandit nibh ut pretium elementum. Duis bibendum convallis nunc a dictum. Quisque ac ipsum porta, ultrices metus sit amet,
                        cursus nisl. Duis aliquet varius sem sit amet tempus. Curabitur vitae dui bibendum.
                    </p>
                    <div class="row mt-4">
                        <div class="col-md-6 agile-info">
                            <h3 class="text-capitalize mb-3">Connect With Us</h3>
                            <p><span class="fab fa-twitter"></span> twitter/my_website</p>
                            <p><span class="fab fa-instagram"></span> instagram/my_website</p>
                            <p><span class="fab fa-youtube mb-4"></span> youtube/my_website</p>
                            <a href="#" class="facebook mr-2"><span class="fab mr-1 fa-facebook-f"></span> Facebook</a>
                            <a href="#" class="twitter"><span class="fab mr-1 fa-twitter"></span> Twitter</a>
                        </div>
                        <div class="col-md-6 agile-info mt-md-0 mt-5">
                            <h3 class="text-capitalize mb-3">Head Quarters</h3>
                            <address class="mb-0">
                                <p class="mb-2"><i class="fas fa-map-marker"></i> 2466H 5th Street Parking, King <br>Block, New York City.</p>
                                <p><i class="fas mr-1 fa-clock"></i> Timings : 10 a.m to 6 p.m</p>
                                <p><i class="fas mr-1 fa-phone"></i> +12 445 8976 2334</p>
                                <p><i class="fas mr-1 fa-fax"></i> +11 887 8976 2334 </p>
                                <p><i class="fas mr-1 fa-envelope-open"></i> <a href="mailto:info@example.com">info@example.com</a></p>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-sm-0 p-md-0">
                    <h3 class="text-capitalize mb-3">Services</h3>
                    <ul>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Blandit nibh ut pretium elementum.</li>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Convallis nunc a dictum ipsum.</li>
                        <li><i class="fas mr-1 fa-chevron-circle-right"></i> Ultrices metus sit amet, cursus.</li>
                    </ul>
                    <h3 class="text-capitalize mt-4 mb-3">Newsletter</h3>
                    <p class="mb-3">Subscribe to Our Newsletter to get News, Amazing Offers &amp; More</p>
                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Enter your email..." required="">
                        <button class="btn1"><i class="far fa-paper-plane"></i></button>
                        <div class="clearfix"> </div>
                    </form>
                </div>
                <div class="col-lg-4 agile-info col-md-6 mt-lg-0 mt-md-0 mt-4 p-md-0">
                    <h3 class="text-capitalize mb-3">Latest Posts</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
                            <a href="single.html">
                                <img src="~/Content/images/f1.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-9 col-8 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 12 June, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-4 agile-info col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
                            <a href="single.html">
                                <img src="~/Content/images/f2.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-9 col-8 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 12 June, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids agile-info row">
                        <div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
                            <a href="single.html">
                                <img src="~/Content/images/f3.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-9 col-8 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 13 June, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright pb-sm-5 pb-4 text-center">
            <p>© 2018 Grade. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
        </div>
    </footer>
    <!-- footer -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->

</body>
</html>